body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Helvetica Neue'
}

.toggleMenu {
    transform: scale(0.04);
}

#header {
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#containerModel {
    height: 90%;
}

footer {
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#titles {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -ms-user-select: none; /* Internet Explorer/Edge */

}

#lobes {
    position: absolute;
}

#sectionPlane {
    position: absolute;
}

#aNumb {
    position: absolute;
}
#advertise, #error{
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#advertise{
    color: #737373;
}

#playerSections {
    user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
#appSection {
    bottom: 14%;
}

.arrow {
    width: 6vw;
    height: 5vh;
    transform: translate(-50%, -50%);
}


#sx_arrow {
    transform: rotate(180deg) translate(50%, 50%);
}

#pause {
    width: 6vw;
    height: 5vh;
    transform: translate(-50%, -50%);
}

#play {
    transform: translate(-50%, -50%);
}

.loader {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: white;
    z-index: 99;
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.ringCircle {
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: ringLoader 3s linear infinite;
}

@keyframes ringLoader {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

.ringCircle span {
    position: absolute;
    font-size: 1.2em;
    text-align: center;
    animation: textLoader 3s ease-in-out infinite;
    color: #737373;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
}

.ringCircle::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

@keyframes textLoader {
    50% {
        color: white;
    }
}